<%-include("partials/header")%>

<form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" style="text-align:center;margin-top:20px;">
	<h1>
	edit <%=recipe.title %>
</h1>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[title]" value = "<%=recipe.title%>" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[image]" value = "<%=recipe.image%>" required><br>
	
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[body]" value = "<%=recipe.body%>" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[ingredients]" value = "<%=recipe.ingredients%>" required><br>
	<input style="margin-bottom:15px;border-radius:25px; border: 2px solid #fcc203; padding: 15px;  width: 350px;" type = "text" name = "recipe[procedure]" value = "<%=recipe.procedure%>" required><br>
	<button class = "btn btn-outline-warning">Update</button>
	
</form>